html,
body,
header,
.view {
  height: 100%;
  font-family: Roboto !important;
}



.nav-link {


  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px !important;
  line-height: 28px;
  align-items: center;
  color: #000000 !important;


}

.navbar-brand {

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 29px !important;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-feature-settings: 'cpsp'on;
  color: #043353 !important;

}



.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #18A4E0;
}

.space {
  height: 2cm;
}

.welcome {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55px !important;
  display: flex;
  align-items: center;
  color: #000000;
}

.desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  color: #000000;
}

.work {
  box-shadow: none !important;
  background: #043353;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px !important;
  color: #FFFFFF;
}

.skills {
  background: rgba(4, 51, 83, 0.47);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px !important;
  color: #150202 !important;
  box-shadow: none !important;
}

.tabss {
  font-family: Roboto !important;
  font-size: 16px !important;
}

.md-pills .nav-link.active {
  color:#043353 !important;
  padding-bottom: 2px !important;
  background-color:white !important;
  border-bottom: 1px solid #043353;
  padding-bottom: 2px !important;
}